<h1> All Posts </h1>
<table>
  <tr>
    <th> Title </th>
    <th> Author </th>
    <th> Body </th>
    <th> Tags </th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td> <%= post.title %> </td>
      <td> <%= post.author %> </td>
      <td> <%= post.body %> </td>
    </tr>
  <% end %>
</table>
